body {
    background-color: #ffffff;
    color: #000000;
    margin: 0;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

div {
    width: 75%;
    margin-left: 12.5%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0 auto;
}

h1 {
    font-size: 3rem;
    margin: 30px auto 15px;
    font-family: "Yellowtail";
    font-weight: 100;
}

hr {
    width: 75%;
}

a {
    text-decoration: none;
    color: #000000;
    margin: 0;
}

.div1 {
    display: flex;
    flex-direction: column;
}

.div2 {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}

.div3 {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.div3 > p {
    margin: 0;
}

.thumbnail {
    width: 150px;
    margin: auto;
    height: auto;
}

.movie-title {
    font-size: 1.5rem;
    font-weight: 400;
}

.rating {
    color: #ff7f50;
    font-size: 1.2rem;
    padding: 5px 0 15px;
}

.movie-hr {
    width: 15%;
    margin-top: 50px;
}
