body {
    background-color: #ffffff;
    color: #000000;
    margin: 0;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0 auto;
}

h1 {
    font-size: 3rem;
    margin: 30px auto 15px;
    font-family: "Yellowtail";
    font-weight: 100;
}

a {
    text-decoration: none;
    color: #000000;
    margin: 0;
}

a:hover {
    text-decoration: underline;
    font-weight: 500;
}

.div1 {
    width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.header-hr {
    width: 450px;
    margin: 0 auto 50px;
}

.div2 {
    width: 75%;
    margin-left: 12.5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
}

.div3 {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.div3 > p {
    margin: 0;
}

.thumbnail {
    width: 150px;
    height: auto;
}

.movie-title {
    font-size: 1.5rem;
    font-weight: 400;
}

.rating {
    color: #ff7f50;
    font-size: 1.2rem;
    padding: 5px 0 15px;
}

.movie-hr {
    width: 75%;
    margin: 50px auto;
}
